* {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: #23272a;
    color: #ffffff;
}

.profpic {
    width: 256px;
    length: 256px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}